@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.ActionLink("List of students", "Index", "Students")<br />
    @Html.ActionLink("List of enrollments", "Index", "Enrollments")<br />
    @Html.ActionLink("List of courses", "Index", "Courses")
</div>